.footer {
    background-color: #2B2B2B;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

.footer-left-box {
    display: flex;

}

.left-box-list {

}


.left-box-item {

}

.left-text-one {
    color: #868282f8;
    font-family: "Work Sans", sans-serif;
}

.left-text-two{
    color: #868282f8;
    font-family: "Work Sans", sans-serif;
}

.footer-discord {

}

.footer-youtube {

}

.footer-twitter {

}

.footer-instagram {

}


.footer-middle-box {
    display: flex;

    
}

.middle-box-list {

}

.middle-box-item {

}

.middle-text-header {
    font-size: $font-size-s;
    font-family: "Work Sans", sans-serif;
    color: white;
}

.middle-text-one, .middle-text-two, .middle-text-three {
    color: #868282f8;
    font-family: "Work Sans", sans-serif;
}

.footer-right-box {

}

.right-box-list {

}

.right-box-item {

}

.right-text-header {
    font-size: $font-size-s;
    font-family: "Work Sans", sans-serif;
    color: white;
}

.right-text-one {
    color: #868282f8;
    font-family: "Work Sans", sans-serif;
}