.main {
  
}

.main-container {
margin: 0 auto;
max-width: 1200px;
}

.image-left {
    flex-grow: 1; 
    flex-basis: 0;
    display: flex;
}

@media screen and (max-width:1000px) {
    .image-left {
        flex-direction: column;
        align-items: center;
    }
}

.main-image {

}

@media screen and (max-width:1120px) {
    .main-image {
        max-width: 500px;
    }
}

@media screen and (max-width:1000px) {
    .main-image {    
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.main-box-right {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    justify-content: center;
    flex-grow: 1; 
    flex-basis: 0;
    width: 100%;
}


@media screen and (max-width:1120px) {
    .main-box-right {
     padding-bottom: 100px; 
    }
}

@media screen and (max-width:1000px) {
    .main-box-right {
        flex-direction: column;
        align-items: center;

       }
}


.main-header {
    color: white;
    font-size: 50px;
    font-family: "Work Sans", sans-serif;
}

.main-text {
    margin-top: 20px;
}

.text-description {
    color: white;
    font-size: $font-size-s;
    font-family: "Work Sans", sans-serif;
    margin-bottom: 20px;
    line-height: 1.5;
}

.input-main {
    margin-top: 10px;
    position: relative;
      display: flex;
     align-items: center;
}

.input-icon {
    position: absolute;
    padding-left: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.input-main input {
    padding: 15px;
    border-radius: 25px;
    max-width: 320px;
    width: 100%;
    background-color: white;
    padding-left: 45px;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
}


.input-main input::placeholder {
    color: #2B2B2B 
  }

  .main-button {
    width: 320px;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;


  }

  .main-button-account {
    
  }