@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #2B2B2B;
}

.navigation_header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navigation_logo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1250px) {
  .nav_logo_img {
    margin-left: 20px;
  }
}
@media screen and (max-width: 900px) {
  .nav_logo_img {
    margin-left: 50px;
  }
}
@media screen and (max-width: 450px) {
  .nav_logo_img {
    margin-left: 20px;
  }
}
.nav-logo-name {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

.burger {
  display: none;
}

@media screen and (max-width: 1120px) {
  .burger {
    display: block;
    margin-right: 50px;
  }
}
@media screen and (max-width: 450px) {
  .burger {
    margin-right: 20px;
  }
}
.nav-list {
  display: flex;
  gap: 40px;
  font-size: 15px;
}

@media screen and (max-width: 1120px) {
  .nav-list {
    display: none;
  }
}
.burger:hover ~ .nav-list {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #3B3B3B;
  align-items: flex-start;
  right: 30px;
  position: absolute;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.nav-button {
  background-color: #A259FF;
  padding: 16px 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-button-name {
  color: white;
  margin-left: 5px;
  font-family: "Work Sans", sans-serif;
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
}

.image-left {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .image-left {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1120px) {
  .main-image {
    max-width: 500px;
  }
}
@media screen and (max-width: 1000px) {
  .main-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.main-box-right {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
}

@media screen and (max-width: 1120px) {
  .main-box-right {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 1000px) {
  .main-box-right {
    flex-direction: column;
    align-items: center;
  }
}
.main-header {
  color: white;
  font-size: 50px;
  font-family: "Work Sans", sans-serif;
}

@media screen and (max-width: 1000px) {
  .main-header {
    margin-top: 50px;
  }
}
.main-text {
  margin-top: 20px;
}

.text-description {
  color: white;
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 20px;
  line-height: 1.5;
}

.input-main {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  padding-left: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media screen and (max-width: 1000px) {
  .main-header {
    margin-top: 50px;
  }
}
.input-main input {
  padding: 15px;
  border-radius: 25px;
  max-width: 320px;
  width: 100%;
  background-color: white;
  padding-left: 45px;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

.input-main input::-moz-placeholder {
  color: #2B2B2B;
}

.input-main input::placeholder {
  color: #2B2B2B;
}

.main-button {
  max-width: 320px;
  width: 100%;
  margin-top: 20px;
  border-radius: 25px;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #3B3B3B;
  padding-top: 50px;
}

@media screen and (max-width: 1120px) {
  .footer-box {
    display: flex;
    flex-direction: column;
  }
}
.footer-left-box {
  display: flex;
  margin-left: 50px;
}

.left-box-item-header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-logo-name {
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  color: white;
  font-weight: bold;
}

.left-box-item {
  margin-bottom: 20px;
}

.left-text-one {
  color: rgba(134, 130, 130, 0.9725490196);
  font-family: "Work Sans", sans-serif;
}

.left-text-two {
  color: rgba(134, 130, 130, 0.9725490196);
  font-family: "Work Sans", sans-serif;
}

.footer-discord, .footer-youtube, .footer-twitter, .footer-instagram {
  margin-right: 5px;
}

.footer-middle-box {
  display: flex;
}

@media screen and (max-width: 1120px) {
  .footer-middle-box {
    margin-left: 50px;
  }
}
.middle-box-item {
  margin-bottom: 20px;
}

.middle-text-header {
  font-size: 22px;
  font-family: "Space Mono", monospace;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.middle-text-one, .middle-text-two, .middle-text-three {
  color: rgba(134, 130, 130, 0.9725490196);
  font-family: "Work Sans", sans-serif;
}

.footer-right-box {
  display: flex;
  margin-right: 50px;
}

@media screen and (max-width: 1120px) {
  .footer-right-box {
    margin-left: 50px;
    display: block;
  }
}
.right-text-header {
  font-size: 22px;
  font-family: "Space Mono", monospace;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.right-text-one {
  color: rgba(134, 130, 130, 0.9725490196);
  font-family: "Work Sans", sans-serif;
}

.footer-box {
  display: flex;
  gap: 100px;
  justify-content: space-around;
}

@media screen and (max-width: 1120px) {
  .footer-box {
    gap: 20px;
  }
}
.footer-input {
  margin-top: 20px;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .footer-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.footer-email-input {
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  font-size: 15px;
  font-family: "Work Sans", sans-serif;
}

@media screen and (max-width: 600px) {
  .footer-email-input {
    border-radius: 20px;
    flex-grow: 1;
    width: 100%;
  }
}
.footer-subscribe-button {
  background-color: #A259FF;
  padding: 18px 40px;
  border-radius: 15px;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  position: relative;
  right: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .footer-subscribe-button {
    padding: 18px 70px;
  }
}
@media screen and (max-width: 600px) {
  .footer-subscribe-button {
    margin-left: 20px;
    border-radius: 20px;
    flex-grow: 1;
    width: 100%;
  }
}
.footer-email-input::-moz-placeholder {
  color: #3B3B3B;
}
.footer-email-input::placeholder {
  color: #3B3B3B;
}

.footer-line {
  height: 1px;
  background-color: rgba(134, 130, 130, 0.9725490196);
  margin-top: 10px;
}

@media screen and (max-width: 1120px) {
  .footer-line {
    height: 1px;
    background-color: rgba(134, 130, 130, 0.9725490196);
    margin-top: 40px;
  }
}
.footer-trademark {
  margin-left: 75px;
  margin-right: 100px;
}

@media screen and (max-width: 1120px) {
  .footer-trademark {
    margin-left: 50px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 600px) {
  .footer-trademark {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.footer-trademark-text {
  font-family: "Work Sans", sans-serif;
  color: rgba(134, 130, 130, 0.9725490196);
  margin-top: 20px;
  padding-bottom: 50px;
}/*# sourceMappingURL=style.css.map */